$tr_background: #f7f7f7;

table {

	tr {
		th {

		}
	}

	tr {
		td {

		}
	}

	&.results {
		thead {
			tr, tr:nth-child(odd) {
				background: #4c4c4c;
				border: 1px solid #4c4c4c;

				th {
					color: $tr_background;
				}
			}
		}

		tr {
			background: $tr_background;

			&:nth-child(odd) {
				background: $tr_background;
			}

			td {
				border: 1px solid #ddd;

				&.thumb {
					text-align: center;
					background: #fff;

					img {
						display: inline-block;
					}
				}

				&.title {
					border-right: none;
				}

				&.option {
					border-left: none;
				}
			}
		}
	}
}