.modal-filters {

	.modal-body {
		@extend %clearfix;

		.checkbox {
			margin: 0;
			width: 50%;
			padding-right: 10px;
			float: left;

			@include media-query (md) {
				width: 25%;
			}

			&:nth-child(odd) {
				margin-left: 0;
				clear: left;

				@include media-query (md) {
					clear: none;
				}
			}

			&:nth-child(4n+5) {
				@include media-query (md) {
					clear: left;
				}
			}
		}
	}
}