.tabs-gray {
	border: none;

	& > li.active > a, & > li.active > a:hover, & > li.active > a:focus {
		background: #F0F0F0;
	}

	li {
		background: #fff;
		border: none;

		a {
			color: #252527;
			font-weight: 600;
			@include font-size(14px);
			line-height: 1;

			.active & {
				color: orange;
			}
		}

		&.active {
			background: #F0F0F0;

			a {
				color: #646464;
			}
		}
	}

	.tab-content {
		min-height: 0;
		@include rem('padding', 30px);

		a {
			color: #08C0FC;
			font-weight: 400;
		}
	}
}

.tab-pane {
	@extend %clearfix;
	@include font-size(12px);
	font-weight: 400;

	h4 {
		position: relative;
		font-weight: 400;
		@include font-size(16px);
	}

	h2.section-title {
		@include rem('padding', 12px 0 12px);
		@include rem('margin', 0 0 22px);
		position: relative;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;

		i {
			position: absolute;
			top: 16px;
			left: -22px;
			color: #C00;
		}
	}

	ul + h2.section-title, p + h2.section-title {
		@include rem('margin-top', 22px);
	}

	ul {
		padding: 0;
		@extend %clearfix;
		list-style-type: none;

		li { background: none; }
	}

	&.large { @include font-size(16px); }
}

.overview {

	p {
		@include font-size(14px);
		font-weight: 400;
	}

	p.intro {
		@include font-size(16px);
		font-weight: 700;
	}
}